#history-background {
    background-image: url("main_background.jpg");
    background-postition: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#history-list {
    width: 43%;
    height: 400px;
    background-color: white;
    border-radius: 3%;
    opacity: 0.4;
    overflow: scroll;
    color: black;
    font-size: 1.5em;
}
.history-list {
    list-style-type: none;
}
.history-link {
  color: black;
  background: transparent;
}
.history-link:hover {
  color: #336699;
}
