#userpage-background {
    background-image: url("main_background.jpg");
    background-postition: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#travel-list {
    margin-top: 7%;
    border: 4px solid white;
    border-radius: 3%;
    opacity: 0.8;
    background-color: #99CCCC;
    height: 400px;
    width: 43%;
    overflow: scroll;
    color: white;
    font-size: 1.5em;
}
#travel-page-title {
  color: #D8D8D8;
  display: inline-block;
  margin-left: -1%;
}
#interest-title {
  display: inline-block;
  margin-left: -40%;

}
#travel-list li {
    display: block;
    padding: none;
    margin-top: 1%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#thead-align {
  width: 75%;
}
#add-form {
  margin-left: 2%;
  display: inline-block;
}
#add-error {
  display: inline-block;
}
#distance-info {
  width: 200px;
  height: 20px;
  background-color: white;
  display: inline-block;
}
.places-link {
  color: #CC6633;
  background: transparent;
  border: none;
  border-radius: 3px;
}
.places-link:hover {
  color: #336699;
}
.location-options-remove {
  background-color: gray;
  border: none;
  border-radius: 3px;
  font-size: .5em;
}

.location-options-visited {
  background-color: #CC6633;
  border: none;
  border-radius: 3px;
  font-size: .5em;

}
.location-list-buttons {
  margin-top: 5%;
  display: inline-block;
  margin-bottom: 5%;
}
#googleMap {
        height: 450px;
        margin-left: 45%;
        padding: 0;
      }
      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


