<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">Explore</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="/sessions/new" onclick = $("#menu-close").click(); ><u><b>Sign Up!</b></u></a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Services</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 id="main-pg-title">Choose To Go</h1>
    <h3 id="main-under-title-quote">Traveling with Endless Options</h3>
    <br>
    <a href="/sessions/new" class="btn btn-dark btn-lg">Sign up to find your next adventure</a>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="mid-message">Choose To Go is a great way to keep track of your travels!</h2>
        <p class="lead">As simple as searching your places of interest and going to their locations! </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<section id="services" style="background-color: #E2C0A2;" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 id="about-div">About the Website</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
              </span>
              <h4 class="about-titles">
                <strong>Searching</strong>
              </h4>
              <p>Utilizes Google Maps search API and Distance Matrix API to locate your places of interest.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-compass fa-stack-1x text-primary"></i>
              </span>
              <h4 class="about-titles">
                <strong>Tracking</strong>
              </h4>
              <p>Keeps track of a list of all of your favorite places so that you don't have to! </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flask fa-stack-1x text-primary"></i>
              </span>
              <h4 class="about-titles">
                <strong>Locating</strong>
              </h4>
              <p>Locates the nearest points of interest, you previously listed, to your current location!</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shield fa-stack-1x text-primary"></i>
              </span>
              <h4 class="about-titles">
                <strong>Traveling</strong>
              </h4>
              <p>Maps the optimal directions to reach your destination(s) of choice!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
  <div class="text-vertical-center">
    <h1 id="middle-title">go where you want, when you want</h1>
  </div>
</aside>
<!-- Contact -->
<section id="contact">
<aside style="background-color: #E2C0A2;" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 id="thanks">Thanks for Checking out my Website!</h3>
        <a href="https://www.linkedin.com/pub/hana-um/b5/321/bb1" class="btn btn-lg btn-light">LinkedIn</a>
        <a href="https://github.com/hanaum" class="btn btn-lg btn-dark">GitHub</a>
      </div>
    </div>
  </div>
</aside>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Website creator: Hana Um</strong></h4>
        <p>Bootstrap used to style website</p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>Contact:  <a href="mailto:hanau12@gmail">hanau12@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Choose To Go 2015</p>
      </div>
    </div>
  </div>
</footer>

</section>
<script>
  // Closes the sidebar menu
  $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });

  // Opens the sidebar menu
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });

  // Scrolls to the selected menu item on the page
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html,body').animate({
            scrollTop : target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
